h1{
    height:2.5em;
    padding-top: 2.5%;
    text-align: center;
    width:30%;
    margin: auto 35%;
    color:bisque;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
.parties{
    background: linear-gradient(90deg, #ff6a00,#ffb43f,#feb03a,#ffb43f,#ff6a00);
    box-shadow: 5px 5px 15px 15px hsl(0, 0%, 4%);
    margin-bottom: 40px;
    width: 40%;
    margin: 0 30%
}

.titre2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 170%;
}

body{
    height: 200vh;
    background: linear-gradient(152deg, #002e7a,#0056d6,#3a88fe,#0056d6,#002e7a);                                            
}
*{border-radius: 10px;
}


.sous-titre1{
    padding: 5%;
    font-size: 150%;
    text-align: center;
}

h2{
    padding-top: 20px
}
.entete{
  background: -webkit-linear-gradient(90deg, #ff6a00,#ffb43f,#feb03a,#ffb43f,#ff6a00);
  background: linear-gradient(90deg, #ff6a00,#ffb43f,#feb03a,#ffb43f,#ff6a00);                                             
  border-radius: 0%;
  margin: -0.65%;

}
.contact{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    width: 40%;
    height: 10%;
    text-align: center;
    font-size: 30px;
    margin:auto auto;
    box-shadow: 1px 1px 5px 5px hsl(12, 6%, 21%)
}


a{
    color: #e2d1c3;
}

.warning, .danger{
    color: black;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.warning{
    margin-top: 0;
    padding-top:10px;
    color: transparent;
background: #873e3e;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.571);
}

.danger{
    padding-bottom: 20px;
}

.dangereux{
    background: -webkit-linear-gradient(90deg, #ffa57d,#ffd9a8,#ffe4a8,#ffd9a8,#ffa57d);                          
    background: linear-gradient(90deg, #ffa57d,#ffd9a8,#ffe4a8,#ffd9a8,#ffa57d);                                                                                       
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
    box-shadow: 5px 5px 15px 15px hsl(0, 0%, 0%);
    border-radius: 5px;
}
.photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .photo img {
    width: 20%;
    max-width: 1500px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    margin: auto
  }

  .ph{
    width:65%;
    margin: 0px 17.5%;
    margin-top: 5%;
  }
  .accroche{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin: 0px;
    padding-top: 0px;
    margin-top: 0;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 -2px 0 #2e2e2e, 0 -1px 0 #2c2c2c, 0 0px 0 #2a2a2a, 0 1px 0 #282828, 0 2px 0 #262626, 0 3px 0 #242424, 0 4px 0 #222, 0 5px 0 #202020, 0 6px 0 #1e1e1e, 0 7px 0 #1c1c1c, 0 8px 0 #1a1a1a, 0 9px 0 #181818, 0 10px 0 #161616, 0 11px 0 #141414, 0 12px 0 #121212, 0 19px 27px rgba(0,0,0,0.9);
  }

  .separation{
    margin: 50px;
    border: solid;
  }

  .informationsup{
    background: linear-gradient(90deg, #ff6a00,#ffb43f,#feb03a,#ffb43f,#ff6a00);
    height: 25%;
    margin-top: 5%;  
    font-size: 20px;
    text-align: center;     
    font-family: Arial, Helvetica, sans-serif;   
    margin-bottom: -10%;                                  
  }

  
  .infoentete{
    padding-top: 3%;
    margin-bottom: 5%;
}
span{
    font-weight: 800;
}